# Build output
build
examples
Debug
Release
src/zmq_pty_client
src/zmq_pty_server

# Documentation
Doxyfile.bak
docs/*

# Development
.cproject
.project
.settings
deprecated
.externalToolBuilders
perf.data

# Libraries and externals
libs/libzmq/
libs/install_android_ndk_standalone.sh
libs/zmq-v4.3.5-android-arm.tar.xz
libs/zmq-v4.3.5-android-arm64.tar.xz
libs/zmq_android.sh
libs/zmq_java.sh
